<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-2">
    <h1>Dice Roller</h1>
    <input class="d-inline-block" id="diceNum" type="text" size="3" value="3">
    <p class="d-inline-block">d</p>
    <input class="d-inline-block" id="diceSides" type="text" size="3" value="20">
    <button class="d-inline-block" id="diceRoll">Roll</button>
    <textarea readonly id="dieContainer" class="dice" rows="10"></textarea>
  </div>

  <div class="col-8">
    <h1 class="text-center">Sound Board</h1>
    <div class="container d-flex flex-wrap justify-content-between">
      <%= render 'sounds' %>
    </div>
  </div>

  <div class="col-2">
    <h1>Initiative</h1>
    <%= link_to "All Characters", characters_path, method: :get, class: "btn btn-outline-secondary" %>
    <div id="charContainer">
      <%= render 'characters', locals: {characters: @characters} %>
    </div>
    <%= link_to 'Reroll', reroll_campaign_path, id:"reroll", method: :put, class: "btn btn-outline-secondary", data: { confirm: 'Are you sure you want to reset all initiative rolls?' }, remote: true %> 
  </div>

</div>


<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>

<script type="text/javascript">
$('#diceRoll').click(function(){
  $('#dieContainer').text('');
  let numDice = $("#diceNum").val();
  let numSides = $("#diceSides").val();
  let container = $("#dieContainer");
  let sum = [];

  for (let i = 0; i < numDice; i++) {
    let result = Math.floor(Math.random() * numSides) + 1;
    sum.push(result);
    $('#dieContainer').append(result + " " + "&#013;");
  };
  $('#dieContainer').append("_____");
  $('#dieContainer').append("&#013;");
  $('#dieContainer').append(sum.reduce((a, b) => a + b, 0));
  $('#dieContainer').append("&#013;");
  $('#dieContainer').append("&#013;");
});

$('#reroll').click(function(){
      $('#charContainer').html("<%= j render 'characters' %>");
});

const tavern = new Howl({
  src: ['http://s3.amazonaws.com/dmtoolkit-assets/audios/ambient_tavern_short.mp3'],
  ext: ['mp3'],
  autoplay: false,
  loop: true,
  volume: 1,
  onend: function() {
    console.log('Finished!');
  }
});

const forest = new Howl({
  src: ['http://s3.amazonaws.com/dmtoolkit-assets/audios/ambient_forest_short.mp3'],
  ext: ['mp3'],
  autoplay: false,
  loop: true,
  volume: 1,
  onend: function() {
    console.log('Finished!');
  }
});

const city = new Howl({
  src: ['http://s3.amazonaws.com/dmtoolkit-assets/audios/ambient_city_short.mp3'],
  ext: ['mp3'],
  autoplay: false,
  loop: true,
  volume: 1,
  onend: function() {
    console.log('Finished!');
  }
});

const skirmish = new Howl({
  src: ['http://s3.amazonaws.com/dmtoolkit-assets/audios/92_Skirmish.mp3'],
  ext: ['mp3'],
  autoplay: false,
  loop: true,
  volume: 1,
  onend: function() {
    console.log('Finished!');
  }
});

$('#tavern').click(function(){
  if(tavern.playing() === false) {
    tavern.play();
    $('#tavern').addClass('active');
  } else {
    tavern.stop();
    $('#tavern').removeClass('active');
  };
});

$('#forest').click(function(){
  if(forest.playing() === false) {
    forest.play();
    $('#forest').addClass('active');
  } else {
    forest.stop();
    $('#forest').removeClass('active');
  };
});

$('#city').click(function(){
  if(city.playing() === false) {
    city.play();
    $('#city').addClass('active');
  } else {
    city.stop();
    $('#city').removeClass('active');
  };
});

$('#skirmish').click(function(){
  if(skirmish.playing() === false) {
    skirmish.play();
    $('#skirmish').addClass('active');
  } else {
    skirmish.stop();
    $('#skirmish').removeClass('active');
  };
});

$('.card').click(function(){
  $(this).toggleClass('border-danger');
  $(this).siblings().removeClass('border-danger');
});
</script>
